body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../image/compte.png");
    background-attachment:fixed;
}

input{
    display: flex;
    align-items: center;
}