body{
    font-family: 'Courier New', Courier, monospace;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(39, 23, 16);
    background-attachment:fixed;
}

.titre{
    text-align: center;
    font-size: 300%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.soustitre{
    text-align: center;
    font-size: 200%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.choix {
    display: flex;
    margin-top: 12vw;
    text-align: center;
    justify-content: space-around;
}

.choix a{
    color: white;
    text-decoration: none;
}

.choix a:hover{
    color: black;
}

.compte:hover{
    color:black
}

.recherche input{
    flex-wrap: wrap;
    width: 20%;
}

#input-search{
    margin: auto;
    padding: 15px;
    border-radius: 30px;
    border: 3px solid rgb(0, 0, 0);
    outline: none;
    width: 200px;
    padding-left: 20px;
    background-color: rgb(253, 253, 253);
    cursor: text;
    overflow: hidden;
    display: block;
    left: 85%;
}

.connecter input{
    margin: auto;
    padding: 15px;
    border-radius: 30px;
    border: 3px solid rgb(0, 0, 0);
    outline: none;
    width: 200px;
    padding-left: 20px;
    background-color: rgb(253, 253, 253);
    transition: width 0.7s;
    -moz-transition: width 0.7s;
    cursor: text;
    overflow: hidden;
    display: block;
    left: 85%;
}

.connecter2 input{
    margin: auto;
    padding: 15px;
    border-radius: 30px;
    border: 3px solid rgb(0, 0, 0);
    outline: none;
    width: 200px;
    padding-left: 20px;
    background-color: rgb(253, 253, 253);
    transition: width 0.7s;
    -moz-transition: width 0.7s;
    cursor: text;
    overflow: hidden;
    display: block;
    left: 85%;
}

.illustration{
    width: 80vw;
    height: 80vh;
    margin-top: 10vh;
    margin-left: 10vw;
}

.recherche{
    position: absolute;
    margin-top: -90vh;
    margin-left: 50vw;
}

.lien{
    position: absolute;
    margin-top: 2vh;
    margin-left: -10vw;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: rgba(240, 248, 255, 0.268);
    padding: 2vh;
}

.lien2{
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: rgba(240, 248, 255, 0.268);
    padding: 1vh;
    margin-left: 10vw;
    margin-top: auto;
}

.rectangle{
    background-color: white;
    margin-left: 10vw;
    width: 80vw;
    height: 90vh;
}

.rectangle2{
    background-color: rgb(39, 23, 16);
    margin-left: 10vw;
    width: 80vw;
    height: 8vh;
}

.rectangle2 > h1{
    margin-top: 1vh;
    color: white;
}

.rectangle3{
    background-color: white;
    width: 80vw;
    height: 8vh;
    margin-left: 10vw;
    margin-top: -60vh;
}

.rectangle3 > h1{
    margin-top: -1vh;
    color: white;
}

.rectangle4{
    background-color: white;
    margin-top: -45vh;
    margin-left: 10vw;
    width: 80vw;
    height: 160vh;
}
.rectangle4 img{
    background-color: white;
    width: 60.3vw;
    height: 30vh;
    margin-left: -10vw;
    margin-top: 15vw;
}

.rectangle5{
    background-color: rgb(39, 23, 16);
    margin-top: 20vh;
    margin-left: 20vw;
    width: 60vw;
    height: 4vh;
}

.rectangle6{
    background-color: rgb(39, 23, 16);
    margin-left: -10vw;
    margin-top: -1vh;
    width: 60.3vw;
    height: 8vh;
}

.par {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -10vh;
    margin-left: 60vw;
}
.par p{
    color: white;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
    background-color: transparent;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

table thead {
    background-color: rgb(39, 23, 16);
    color: white;
}
td.firstColumn {
    width : 40vw;
}
td.secondColumn {
    width : 10vw;
}
td.thirdColumn {
    width : 10vw;
}
td.fourthColumn {
    width : 10vw;
}
table tbody td {
    border-right: 1px solid black;
}
table tbody tr {
    height: 3rem;
}

.viking >td {
    font-size: 10vh;
    height: 100px;
}
.inscription{
    display: flex;
    border: solid;
    height: 75vh;
    width: 60vw;
    margin-left: -10vw;
    justify-content: center;
   
}

.inscription >h1{
    display: flex;
    margin-left: 25vw;
    
}

.trait{
    margin-top: 10vh;
    margin-left: -9.9vw;
    width: 922px;
    height: 3px;
    border-bottom: solid 2px black;
}

.infoInscription{

    margin-left: -25vw;
}

.head{
    background-color:rgb(77, 58, 58);
    margin:12%;
    padding:5%;

}

.publication{
    background-color: rgb(213, 213, 210);
    border: 2px solid rgb(163, 161, 161);
    border-radius: 8px;
    padding:25px
}

#newMessage{
    
}