body{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(165, 42, 42);
    background-attachment:fixed;
}

.titre{
    text-align: center;
    font-size: 300%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.soustitre{
    text-align: center;
    font-size: 200%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.choix {
    display: flex;
    margin-top: 12vw;
    text-align: center;
    justify-content: space-around;
}

.choix a{
    color: white;
    text-decoration: none;
}

.choix a:hover{
    color: black;
}

.compte{
    display: flex;
    margin-top: 1vw;
    text-decoration: none;
}

.compte:hover{
    color:black
}

.recherche input{
    flex-wrap: wrap;
    width: 20%;
}

#input-search{
    margin: auto;
    padding: 15px;
    border-radius: 30px;
    border: 3px solid rgb(0, 0, 0);
    outline: none;
    width: 30px;
    padding-left: 20px;
    background-color: rgb(253, 253, 253);
    transition: width 0.7s;
    -moz-transition: width 0.7s;
    cursor: pointer;
    overflow: hidden;
    display: block;
    position: absolute;
    left: 85%;
}
#input-search:focus{
    width: 200px;
}
#input-search:hover input{
    width: 200px;
}