<!DOCTYPE html>​

{{template "home" .}}
{{define "creation"}}
<html lang="fr">​

    <head>​

        <meta charset="UTF-8" />
        <link href="../css/compte.css" rel="stylesheet">
        <script src="../script/script.js"></script>​​

        <title>création</title>​

    </head>​

    <body>
        <body>
            <div class="container">
              <form method="post">
                  <input type="text" id="fname" name="pseudo" placeholder="Nom" required>
                  <label for="fname">Pseudo</label>
              
                  
                  <input type="text" id="lname" name="adresse_mail" placeholder="Prénom" required>
                  <label for="lname">Adresse mail</label>
              
                  
                  <input type="password" id="password" name="password" placeholder="Password" required>
                  <label for="password">Mot de passe</label>
                  <input type="submit" value="Submit" name="submit">
              </form>
            </div>
          </body>
        </form>
    </body>

</html>
{{end}}